/* CUSTOM PROPERTIES */
:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(240, 5%, 91%);
    --clr-neutral-400: hsl(240, 6%, 50%);
    --clr-neutral-600: hsl(237, 12%, 33%);
    --clr-neutral-900: hsl(238, 29%, 16%);    

    --clr-primary-400: hsl(240, 73%, 65%);
    --clr-secondary-400: hsl(273, 75%, 66%);
    --clr-accent-400: hsl(14, 88%, 65%);

    --ff-primary-400: 'Kumbh Sans', sans-serif;
    --fs-400: 0.75rem;
    --fs-700: 2.25rem;
    --fw-400: 400;
    --fw-700: 700;

    --br: 1rem;
}

/* ===== GENERAL STYLES ===== */

body {
    font-family: var(--ff-primary-400);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-900);
    background-image: linear-gradient(to bottom, var(--clr-secondary-400), var(--clr-primary-400));

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-block: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}


/* ===== typography ===== */

.content-container > header {
    text-align: center;
}

@media(min-width: 53.5em) {
    .content-container > header {
        text-align: left;
    }
}

.content-container h2 {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
}

.faq-list h3 {
    font-weight: var(--fw-400);
}

/* ===== UTILITY CLASSES ===== */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media(min-width: 53.5em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
}

.container {
    width: 90%;
    max-width: 75rem;
    margin-inline: auto;

    position: relative;

    box-shadow: 0 2rem 1.5rem -0.25rem hsla(238, 29%, 16%, 0.2);
}


@media(min-width: 53.5em) {
    .container {
        width: 80%;
        background-color: var(--clr-neutral-100);
        border-radius: var(--br);
    }
}

/* ===== the component ===== */

.image-container { 
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    z-index: 1;

    width: 75%;
    margin-inline: auto;
}

@media(min-width: 53.5em) {
    .image-container { 
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    
        width: 100%;
        height: 100%;
        margin-inline: 0;

        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 220%;
        background-repeat: no-repeat;
        background-position-y: 63%;
        background-position-x: 115%;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;        
    }
}

.image-container > picture {
    position: relative;
}

@media(min-width: 53.5em) {
    .image-container > picture {
       margin-inline-start: -10rem;
    }
}

.image-container > picture::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -40%;

    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;

    z-index: -1;
}

@media(min-width: 53.5em) {
    .image-container > picture::before {
        display: none;
    }
}

.image-container > img {
    display: none;
}

@media(min-width: 53.5em) {
    .image-container > img {
        display: block;
        position: absolute;
        left: -11%;
        top: 50%;
        transform: translateY(-30%);
    }
}

.content-container {
    grid-row: 2 / span 2;
    grid-column: 1 / -1;

    background-color: var(--clr-neutral-100);
    border-radius: var(--br);

    padding-block-start: 45%;
    padding-block-end: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

@media(min-width: 53.5em) {
    .content-container {
        grid-row: 1 / span 1;
        grid-column: 2 / -1;
    
        background-color: none;
        border-radius: none;    
    
        padding-block-start: 5rem;
        padding-block-end: 5rem;
        padding-inline-start: 0;
        padding-inline-end: 6rem;
    }
}

/* ====== the list ===== */

.faq-list {    
    padding-inline: 0;
    margin-top: 1.5rem;
}

.faq-list > li  {
    border-bottom: 1px solid var(--clr-neutral-200);
}

.faq__item__heading button {
    padding-inline: 0;
    padding-block: 1rem;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__item__heading button:hover,
.faq__item__heading button:focus {
    font-weight: var(--fw-700);
    color: var(--clr-accent-400);
}

.faq__item__heading button svg {
    transform: rotate(0);
    transition: transform 400ms ease-in-out;
}

.faq__item__content {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 400ms ease-in-out;
}

.faq__item__content .content__wrapper {
    padding-block-end: 1rem;
}

.faq__item.item-is-open .faq__item__heading button,
.faq__item.item-is-open .faq__item__heading button:hover,
.faq__item.item-is-open .faq__item__heading button:focus {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-700);
}

.faq__item.item-is-open .faq__item__heading button svg {
    transform: rotate(180deg);
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
    padding-block: 0.5rem;
  }
  .attribution a {
    color: var(--clr-accent-400);
  }


