/* CUSTOM PROPERTIES */
:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(240, 5%, 91%);
    --clr-neutral-400: hsl(240, 6%, 50%);
    --clr-neutral-600: hsl(237, 12%, 33%);
    --clr-neutral-900: hsl(238, 29%, 16%);    

    --clr-primary-400: hsl(240, 73%, 65%);
    --clr-secondary-400: hsl(273, 75%, 66%);
    --clr-accent-400: hsl(14, 88%, 65%);

    --ff-primary-400: 'Kumbh Sans', sans-serif;
    --fs-400: 0.75rem;
    --fw-400: 400;
    --fw-700: 700;

    --br: 1rem;
}

/* ===== GENERAL STYLES ===== */

body {
    font-family: var(--ff-primary-400);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-900);
    background-image: linear-gradient(to bottom, var(--clr-secondary-400), var(--clr-primary-400));

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-block: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}


/* ===== typography ===== */

.content-container > header {
    text-align: center;
}

.content-container h2 {
    font-size: 2.25rem;
    font-weight: var(--fw-700);

}

.faq-list h3 {
    font-weight: var(--fw-400);
}

/* ===== UTILITY CLASSES ===== */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media(min-width: 37.5em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.container {
    width: 90%;
    max-width: 75rem;
    margin-inline: auto;

    position: relative;
}

.image-container { 
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    z-index: 1;

    width: 75%;
    margin-inline: auto;
}

.image-container > picture {
    position: relative;
}

.image-container > picture::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -40%;

    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;

    z-index: -1;
}

.image-container > img {
    display: none;
}

.content-container {
    grid-row: 2 / span 2;
    grid-column: 1 / -1;

    background-color: var(--clr-neutral-100);
    border-radius: var(--br);


    padding-block-start: 45%;
    padding-block-end: 2rem;
    padding-inline: 2rem;
}

.faq-list {    
    padding-inline: 0;
}

.faq-list > li  {
    border-bottom: 1px solid var(--clr-neutral-200);
}

.faq__item__heading button {
    padding-inline: 0;
    padding-block: 1rem;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__item__heading button:hover,
.faq__item__heading button:focus {
    font-weight: var(--fw-700);
    color: var(--clr-accent-400);
}

.faq__item__heading button svg {
    transform: rotate(0);
    transition: transform 400ms ease-in-out;
}

.faq__item__body {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.faq__item__body p {
    padding-block-end: 1rem;
}

.faq-list li.item-is-open .faq__item__heading button,
.faq-list li.item-is-open .faq__item__heading button:hover,
.faq-list li.item-is-open .faq__item__heading button:focus {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-700);
}

.faq-list li.item-is-open .faq__item__heading button svg {
    transform: rotate(180deg);
}




